# Ignore all compiled images
*.o
langocr
langocr-server

##################################################
# Generic Project Ignores
##################################################
## I keep my personal notes in org-mode
*.org 

# Defualt emacs backup file naming convention
*\#*

#ignore emacs buffers that accidently get saved
\**\*

# If we add jpg, add delibrately.
*.jpg    

##################################################
# LangOCR Ignores
##################################################
# QT Early compilation files
moc_*

# QT cached files
*.stash  

##################################################
# OcrServer Ignores
##################################################
## Logger.cpp temporary output file 
log.txt 